<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/flag-css.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DDCC Verifier Web App</title>
</head>
<body>
<img src="img/LogosConectaton2.png" alt="Conectaton" title="Conectaton" height="64">
<img src="img/LogosLACPASS23.png" alt="LACPASS2023" title="LACPASS2023" height="64">
<img src="img/LogosRACSEL23.png" alt="RACSEL" title="RACSEL" height="64">
<h2>DDCC Verifier Web App</h2>
<p class="lead">QR Processing Results</p>

<div th:if="${qr}" class="uploader" style="max-width: 1000px">
    <div th:if="${status.name()=='VERIFIED'}">
        <span th:if="${country!='xcl'}" th:class="'flag flag-'+${country}+' flag-3x'"></span>
        <img th:unless="${country!='xcl'}" src="flags/001.svg" alt="International flag" title="International"
             height="32">
    </div>
    <label>Result<br>
        <pre th:text="${status}"></pre>
    </label>
    <label>QR Contents<br>
        <pre th:text="${qr}"></pre>
    </label>
    <label>Unpacked QR<br>
        <pre th:text="${unpacked}"></pre>
    </label>
<!--    <label>DDCC Result<br>-->
<!--        <pre th:text="${contents}"></pre>-->
<!--    </label>-->
    <label>Issuer<br>
        <pre th:text="${issuer}"></pre>
    </label>
</div>

<div th:if="${error}" class="uploader">
    <label th:text="${error}"></label>
</div>

<div class="backhome">
    <a id="back-home" class="btn btn-primary" href="/">Back to Home</a>
</div>

</body>
</html>